#Logoz {
    position: absolute;
    z-index: 10000;
    height: 200px;
    width: 126px;
    cursor:pointer;
}

#tableDataTable a {
    color: #0000EE !important;
    text-decoration:underline !important;
}

#tableDataTable a:visited {
    color: #551A8B !important;
    text-decoration:underline !important;
}